<?xml version="1.0" encoding="UTF-8"?>
  <widget xmlns="http://www.w3.org/ns/widgets" 
    xmlns:gap="http://phonegap.com/ns/1.0" 
    id="ca.adejonge.payrollReminder" 
    version="1.0.0">

  <name>Payroll Reminder</name>

  <description>
    Payroll reminder for submitting hours.
  </description>

  <author href="http://adejonge.ca" email="stairie43@hotmail.comcom">
    Alistair DeJonge
  </author>

    <!-- Define the main entry-point to the application -->
    <content src="index.html" />

    <!-- Customize your app and platform with the preference element. -->
    <preference name="DisallowOverscroll"         value="true" />

    <!-- Define a specific version of PhoneGap to build into your app. -->
    <!-- <preference name="phonegap-version"       value="cli-6.0.0" /> -->

    <!-- Plugins -->
    <!-- Core plugins -->
    <plugin name="cordova-plugin-device-motion"       source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-device-orientation"  source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-statusbar"           source="npm" spec="~2.1.2" />
    <plugin name="cordova-plugin-vibration"           source="npm" spec="~2.1.0" />
    <plugin name="cordova-plugin-whitelist"           source="npm" spec="~1.2.1" />
    <plugin name="com.phonegap.plugins.pushplugin"    source="pgb" />

    <!-- Define app icon and splashscreen for each platform. -->
    <icon src="icon.png" />
    <platform name="android">
        <icon   src="www/res/icon/android/mipmap-ldpi/ic_launcher.png"               density="ldpi" />
        <icon   src="www/res/icon/android/mipmap-mdpi/ic_launcher.png"               density="mdpi" />
        <icon   src="www/res/icon/android/mipmap-hdpi/ic_launcher.png"               density="hdpi" />
        <icon   src="www/res/icon/android/mipmap-xhdpi/ic_launcher.png"              density="xhdpi" />
        <icon   src="www/res/icon/android/mipmap-xxhdpi/ic_launcher.png"             density="xxhdpi" />
        <icon   src="www/res/icon/android/mipmap-xxxhdpi/ic_launcher.png"            density="xxxhdpi" />
    </platform>

    <!--
       <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
       <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
       <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
    -->

</widget>
